@import './src/stylesheets/global.scss';

.parent {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainContainer {
    display: grid;
    grid-template-rows: 100vh auto;

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 90vh 10vh;
        background-color: $secondaryColor;
        scroll-snap-align: center;

        @include media-phone {
            grid-template-rows: 80vh 20vh;
        }

        .logo {
            grid-column: 2;
            grid-row: 1;
            margin: auto;
            z-index: 1;

            h1 {
                color: $mainColor;
                margin: 0;
                user-select: none;
        
                font-weight: normal;
                font-size: 60px;
        
                span {
                    color: white;
                }
            }
        
            h2 {
                color: white;
                margin: 0;
                user-select: none;
        
                font-weight: normal;

                span {
                    transition: color 1s;
                }
            }

            &:hover {
                h2 {
                    span {
                        color: $mainColor;
                    }
                }
            }

            &:hover ~ .hoverCircle { 

                background-color: $mainColor; 

            }
        }

        .hoverCircle {
            grid-column: 2;
            grid-row: 1;
            margin: auto;
            height: 300px;
            width: 300px;
            border-radius: 100%;

            transition: background-color 1s;
        }

        .downArrows {
            grid-column: 2;
            grid-row: 2;
            margin: auto;

            @keyframes hop {
                
                5% {
                    transform: translateY(-10px);
                }
                10% {
                    transform: translateY(0);
                }
                15% {
                    transform: translateY(-10px);
                }
                20% {
                    transform: translateY(0);
                }
            }

            svg {
                animation: hop 3s infinite forwards;
            }
        }

    }

    main {
        grid-row: 2;
        scroll-snap-align: start;
        
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 50px 100px auto 100px auto;

        margin: 0 20px;

        nav {
            grid-column: 1 / span 3;
            grid-row: 1;
        }

        h1 {
            font-weight: normal;
            text-align: center; 
        }

        .aboutHeader {
            grid-row: 2;
            grid-column: 1 / span 3;
        }

        .articles {
            grid-row: 3;
            grid-column: 2;

            @include media-phone {
                grid-column: 1 / span 3;
            }
        }

        .contactHeader {
            grid-row: 4;
            grid-column: 1 / span 3;
        }

        .contactInfo {
            grid-row: 5;
            grid-column: 2;

            @include media-phone {
                grid-column: 1 / span 3;
            }

        }

    }

    footer {
        text-align: center;
        font-size: 12px;
    }

}
