@import "../../stylesheets/variables_functions_mixins";

.standOutNavItem {
  margin-left: auto;
}

.socialIcons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-self: center;

  a {
    margin-left: 10px;
    img {
      height: 20px;
      width: auto;
    }
  }
}

@include media-phone {
  .standOutNavItem {
    margin-left: 0;
  }

  .socialIcons {
    margin-left: 0;
    align-self: flex-start;
  }
}
