@import '../../stylesheets/variables_functions_mixins';

nav {
    display: flex;
    flex-direction: row;
    a {
        font-size: 20px;
        text-align: center;
        padding: 1rem;
        color: white;
        text-decoration: none;
        border-bottom:0.2rem solid transparent;
        @include media-phone {
            font-size: 16px;
        }
    }

    a:hover{
        border-bottom:0.2rem solid green;
    }

    .fbLink {
        margin-left: auto;

        img {
            width: 25px;
        }
    }
}