.requestForm {
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;

    .inputField {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 8px;
            margin-right: 5px;
        }

        .labelRadio {
            display: inline;
            margin-right: 15px;
        }

        input:not([type=radio]) {
            height: 20px;
            width: 200px;
        }

        textarea {
            width: 280px;
            height: 80px;
        }

        .addFileLabel{
            display: inline;
        }

    }

    .formError {
        color: red;
        font-size: smaller;
        margin-left: 5px;
    }
}