@import './src/stylesheets/global.scss';

.container {
    margin: 0 auto;
}

.listContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}



.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    flex: 1 0 31%;
    margin: 1.15%;
    min-width: 200px;
    min-height: 210px;
    max-width: 200px;
    max-height: 210px;
    border-radius: 5px;
    overflow: hidden;
    cursor: default;


    &:hover {
        .cardContent {
            opacity: 1;
        }

        .cardImg {
            opacity: 0.3;
        }

        .cardHeader {
            bottom: 70%;
            color: black;
            filter: none;

            // header underline on hover
            &:before,
            &:after {
                width: 100%;
                opacity: 1;
            }
        }


    }

    .cardImg {
        display: block;
        height: auto;
        transition: .6s ease;
        width: 100%;
        height: 100%;
    }


    .cardContent {
        transition: .6s ease;
        opacity: 0;
        position: absolute;
        bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
        text-decoration: none;
        color: black;
        .about {

            font-size: 0.9rem;
        }

    }

    .cardHeader {
        position: absolute;
        opacity: 1;
        margin: 10px 5%;
        bottom: 0;
        transition: .2s ease;
        letter-spacing: 1.3px;
        font-weight: 400;
        text-decoration: none;
        color: white;
        filter: drop-shadow(5px 5px 5px black);
        font-weight: 400;
        font-size: 1.3rem;

        // header underline initial
        &:before,
        &:after {
            content: "";
            position: absolute;
            bottom: -8px;
            width: 0px;
            height: 3px;
            transition: .6s ease;
            opacity: 0;
            background-color: $mainColor;
            left: 0;
            animation-delay: .3s;
        }
    }

    .cardIconsRow {
        margin: 10px 0;
    }

    .cardIcon {
        margin-left: 10px;
        height: 32px;
        width: 32px;
    }

}

/************************ media ************************/

@media only screen and (min-width: 1500px) {
    .card {
        &:hover {

            .cardHeader {
                bottom: 70%;
            }
        }

        .cardContent {
            bottom: 20%;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .card {
        &:hover {

            .cardHeader {
                bottom: 80%;
            }
        }
    }

}


@media only screen and (max-width: 1200px) {
    .card {
        flex: 1 0 46%;
        margin: 2%;
        max-width: 46%;
        height: 20%;

        &:hover {

            .cardHeader {
                bottom: 70%;
            }
        }

        .cardContent {
            bottom: 5%;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .card {
        flex: 1 0 46%;
        margin: 2%;
        max-width: 46%;
        height: 20%;

        &:hover {

            .cardHeader {
                bottom: 65%;
            }
        }

        .cardContent {
            bottom: 15%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .card {
        flex: 1 0 46%;
        margin: 2%;
        max-width: 46%;
        height: 20%;

        &:hover {

            .cardHeader {
                bottom: 70%;
            }
        }

        .cardContent {
            bottom: 5%;
        }
    }
}


@media only screen and (max-width: 840px) {
    .card {
        flex: 1 0 80%;
        margin: 2% auto;
        max-width: 70%;


        &:hover {
            .cardHeader {
                bottom: 70%;
            }
        }

        .cardHeader {
            margin-left: 10%;
            margin-right: 10%;
        }

        .cardContent {
            margin-left: 10%;
            margin-right: 10%;
            bottom: 18%;
            font-size: 1rem;
        }
    }


}






/************************ loading animation ************************/

@keyframes load {
    0% {
        opacity: 0.08;
        filter: blur(5px);
        letter-spacing: 3px;
    }
}

.animate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 30px auto;
    font-family: Helvetica, sans-serif, Arial;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
    color: $mainColor;
}