@import './src/stylesheets/global.scss';


// TODO: remove tempContainer style 
.tempContainer {
    margin-top: 100vh;
    margin: 100vh 25% 20px 25%;
}



.listContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}



.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    flex: 1 0 31%;
    margin: 1.15%;
    max-width: 31%;
    height: 20%;
    overflow: hidden;
    cursor: default;


    &:hover {
        .cardContent {
            opacity: 1;
        }

        .cardImg {
            opacity: 0.3;
        }

        .cardHeader {
            bottom: 65%;

            // header underline on hover
            &:before,
            &:after {
                width: 100%;
                opacity: 1;
            }
        }


    }

    .cardImg {
        display: block;
        height: auto;
        transition: .6s ease;
        backface-visibility: hidden;
        max-width: 100%;
        max-height: 100%;
    }


    .cardContent {
        transition: .6s ease;
        opacity: 0;
        position: absolute;
        bottom: 15%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .cardHeader {
        position: absolute;
        opacity: 1;
        margin: 10px 5%;
        bottom: 0;
        transition: .2s ease;
        letter-spacing: 1.3px;
        font-weight: 400;

        // header underline initial
        &:before,
        &:after {
            content: "";
            position: absolute;
            bottom: -8px;
            width: 0px;
            height: 3px;
            transition: .6s ease;
            opacity: 0;
            background-color: $mainColor;
            left: 0;
            animation-delay: .3s;
        }
    }

}

/************************ media ************************/

@media only screen and (min-width: 1600px) {
    .card {
        &:hover {
            .cardHeader {
                bottom: 60%;
            }
        }

        .cardContent {
            bottom: 25%;
        }

    }
}

@media only screen and (max-width: 1200px) {
    .card {
        flex: 1 0 46%;
        margin: 2%;
        max-width: 46%;
        height: 20%;
    }
}


@media only screen and (max-width: 840px) {
    .card {
        flex: 1 0 80%;
        margin: 2% 10%;
        max-width: 80%;
        height: 20%;
    }
}



/************************ loading animation ************************/

@keyframes load {
    0% {
        opacity: 0.08;
        filter: blur(5px);
        letter-spacing: 3px;
    }
}

.animate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 30px auto;
    font-family: Helvetica, sans-serif, Arial;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
    color: $mainColor;
}